@{
    ViewBag.Title = "Contact";
}
<h2>Контакты</h2>
<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>

<address>
    <strong><abbr title="E-mail">Е-mail:</abbr></strong>
    <a href="engschoolmaster@gmail.com">&nbsp;engschoolmaster@gmail.com</a><br />
    <strong><abbr title="Телефон">Тел:</abbr></strong>&nbsp;8(950)1738966<br />
    <strong><abbr title="Скайп">Skype:</abbr></strong>&nbsp;Be_English_Master<br />
    <strong><abbr title="ICQ">ICQ:</abbr></strong>&nbsp;588497759<br />
</address>

<!--Google Maps APIv3 Background-->
<div id="canvas_holder">
    <div id="map_canvas"></div>
</div><!-- End Google Maps Background -->