@{
    ViewBag.Title = "HowToStart";
}
<h1>Как начать</h1>
<h3>1. Выполните тест на определение уровня знаний</h3>
<p>Тест можно скачать <a href="~/Content/Docs/Level_Test.doc" title="Тест на определение уровня знания английского" target="_self">теста</a> &nbsp;(MS Word, 219 КБ). Ответив на вопросы теста, отправьте его по адресу: <strong>engschoolmaster@gmail.com</strong>. В течение нескольких дней с Вами свяжется преподаватель, сообщит Ваш уровень знаний и согласует время проведения бесплатного пробного занятия.</p>
<h3>2. Посетите первый бесплатный урок</h3>
<p>В ходе этого урока преподаватель оценит Ваши навыки устной речи, покажет работу Виртуального класса, продемонстрирует, как проходит урок английского языка, обсудит наиболее подходящий для Вас формат обучения. У Вас будет возможность задать любые интересующие Вас вопросы.</p>
<h3>3. Оплатите обучение</h3>
<p>Внести оплату можно любым удобным для Вас способом (см.@Html.ActionLink("Стоимость", "PriceList", "Home")). Оплата производится за месяц обучения.</p>
<h3>4. Получите учебный материал</h3>
<p>Учебный материал будет выслан Вам по электронной почте.</p>
<h3>5. Можно приступать к занятиям!</h3>

