@{
    ViewBag.Title = "LearningMaterials";
}
<h2>Учебные материалы</h2>
<div class="row">
    <h3>Бизнес-курс</h3>
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="~/Content/Images/in_company.gif" alt="in company" />
        </div>
       </div>
    <div class="col-md-10">
        <p>Основной учебный комплект – <strong>In Company</strong>, автор Simon Clarke,издательство Macmillan. Он включает книгу для студента и аудиозаписи. В качестве дополнительных пособий используются учебники по грамматике и учебные фильмы на английском языке.</p>
    </div>
</div>
<div class="row">
    <h3>Разговорный курс</h3>
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="~/Content/Images/english_file.gif" alt="new english file" />
        </div>
    </div>
    <div class="col-md-10">
        <p>Основной учебный комплект –<strong> New English File</strong>, авторы Clive Oxenden, Cristina Latham-Koenig, издательство Oxford University Press. Он включает книгу для студента, рабочую тетрадь, аудио и видеозаписи. В качестве дополнительных пособий используются учебники по грамматике и учебные фильмы на английском языке.</p>
    </div>
</div>


