@{
    ViewBag.Title = "WaysToPay";
}

<h1>Способы оплаты</h1>

<h3>Оплата через платежный терминал</h3>
<p>Платежные терминалы, терминалы моментальной оплаты — это аппараты, через которые можно оплачивать сотовые телефоны, коммунальные услуги и т.д. В меню аппарата выбираете ПЛАТЕЖНЫЕ СИСТЕМЫ или МОБИЛЬНАЯ КОММЕРЦИЯ, далее WebMoney (ВЭБМАНИ) и вводите:</p>
<p>
    <img src="/Media/Default/Page/quickpaymentmachine.gif" alt="Оплата через платежный терминал">
</p>
<ol>
    <li>R371796016649, если Вы оплачиваете в рублях, или</li>
    <li>Z320903619542, если Ваш платеж в долларах,</li>
</ol>
<p>затем следуйте инструкциям системы. После оплаты аппарат выдаст чек, сохраните его или запомните дату и время вашего платежа. Сообщите нам о платеже, указав сумму, дату и время по ICQ или E-MAIL.</p>
<h3>Оплата с кошелька WebMoney</h3>
<p>Имея кошелек WebMoney, Вы переводите деньги на один из наших кошельков: R371796016649 или Z320903619542. В примечании платежа укажите "договор на обучение, Ваше имя, фамилию и e-mail". После оплаты обязательно сообщите нам о платеже, указав сумму, дату, время и номер Вашего кошелька по ICQ или E-MAIL.</p>
<h3>Оплата через банк</h3>
<p>В среднем зачисление платежа занимает 2-3 дня. Размер комиссии – в зависимости от выбранного банка. Напишите о своем предпочтении оплатить занятия банковским переводом, и мы вышлем вам на e-mail заполненную квитанцию.&nbsp;</p>


